@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
:root {
    --font-family: 'Roboto', sans-serif;
    --font-size: 25px;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: rgb(45, 45, 169) ;
    --secondary-color: #000;
    --primary-shadow: rgb(98, 98, 245);
    --secondary-shadow: rgb(98, 98, 245);;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font-family);
}
nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
nav h1{
    color: var(--primary-color);
}
nav ul{
    display: flex;
    gap: 1.9rem;
}
nav a{
    color: var(--primary-color);
    transition: var(--transition);
}
ul {
    list-style-type: none;
}
a {
   text-decoration: none;
    color: var(--primary-color);
}
a:hover{
    color: var(--secondary-color);
}
.burger-menu{
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.person{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
    padding: 20px 0;
}
.person img{
    /* width: 30.5rem;
    height: 30.5rem; */
    width: 25%;
    border-radius: 50%;
}
.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0 2px 15px 2px var(--primary-shadow);
}
.bio h2{
    margin-bottom: var( --bottom-margin);
    font-size: var(--font-size);

}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}
.more-about{
    background-color:var(--bg-color);
    padding: 1rem 6rem;
    text-align: center;
}

.more-about h2{
    margin-bottom:var(--bottom-margin);
    font-size: var(--font-size);
    color: var(--primary-color);
}
.more-about p{
    line-height:var(--line-height);
    padding: 0.4rem;

}

.skills{
 
    margin: 2.5rem auto;
    text-align: center;
}
.skills-header{
    margin-bottom: 1rem;
}
.skills h3{
    font-size: var(--font-size);
}
.skills-wrapper img{
    padding: 1.25rem;
}
.icon{
    width: 11.875rem;
    height: 11.25rem;
}
.icon-card{
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}
.project{
    display: flex;
    
}
.projects{
    background-color:var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
}
.projects h3{
    font-size: var(--font-size);
}
.projects-title{
    text-align: center;
    margin-bottom: 1rem;
}
.project-pic{
    width: 80%;
    height: 80%;
}
.projects-container{
    display: flex;
    justify-content: center;
    align-items: center;
}img{
    max-width: 100%;
}
.project img{
    width: 50%;
}
.project-container{
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}
.project-container p{
    padding: 0.4rem;
}
.projects-title, .project-details{
    margin-bottom: var(--bottom-margin);
}

.project-card{
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}
.contact {
    margin-top: 2rem;
}

.contact h4 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
    font-size: var(--font-size);
}

.contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
}
.contact-form div input:hover{
    color: aliceblue;
}
.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
}
* {box-sizing:border-box}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.socials{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 2%;
    bottom: 50%;
}
.socicon{
    width: 2rem;
    height: 2rem;
}
footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}
.project-section h1{
    text-align: center;
    color: rgb(45, 45, 169) ;
}
.switch-color{
    color: rgb(45, 45, 169) ;
}
.scroll-up{
    position: fixed;
    right: 0.3%;
    bottom: 3%;
    cursor: pointer;
}
.up-arrow{
    width: 3rem;
    height: 3rem;
}


@media screen and (max-width: 850px){
    nav{
        padding: 1.5rem 1rem;
    }
    nav ul{
        width: 80%;
        position: fixed;
        top: 86px;
        left: 10%;
        flex-direction: column;
        text-align: center;
        background-color: var(--bg-color);
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }
    nav ul li{
        margin: 8px;
    }
    .burger-menu{
        display: block;
    }
    nav ul.show{
        transform: translateX(0);
    }
    .person{
        flex-direction: column;
        gap: 0;
    }
    .bio{
        width: 20.5rem;
    }
    .more-about{
        margin-top: 2rem;
        padding: 1rem 3.5rem;
    }
    .more-about h2{
        text-align: center;
    }
    .more-about p{
        text-align: justify;
    }
    .skills{
        margin: 2.5rem auto;
    }
    .icon{
        width: 5.875rem;
        height: 5.25rem;
    }
    .projects-container{
        flex-direction: column;
    }
    .project-container{
        width: 20.875rem;
    }
    .contact-form-container{
        width: 23.75rem;
    }
}
@media (min-width: 720px) and (max-width: 991px){
    .person{
        flex-direction: column;
        gap: 0;
    }
    .bio{
        margin: 20px auto;
    }
}

@media screen and (max-width: 420px) {
    .person img {
        height: 19.5rem;
        width: 20rem;
    }
    .bio {
        width: 18.3rem;
    }

    .project-container {
        width: 17.875rem;
    }

    .contact-form-container {
        max-width: 17.75rem;
    }
}





